{% extends 'base.html' %}

{% block content %}
<div class="p-3">
  <div class="container">

    <h2>Search Candidates</h2>
    <hr />

    <form method="GET" class="card shadow p-3 mb-4">
      
      <label>Skills</label>
      <input
        type="text"
        name="skills"
        class="form-control mb-3"
        value="{{ template_data.skills }}"
      >

      <label>Location</label>
      <input
        type="text"
        name="location"
        class="form-control mb-3"
        value="{{ template_data.location }}"
      >

      <label>Projects</label>
      <input
        type="text"
        name="projects"
        class="form-control mb-3"
        value="{{ template_data.projects }}"
      >

      <button class="btn bg-dark text-white" type="submit">
        Search
      </button>

    </form>

    <div class="mb-4">
      <form method="POST"
            action="{% url 'accounts.save_candidate_search' %}">
        {% csrf_token %}

        <input type="hidden" name="skills"
              value="{{ template_data.skills }}">
        <input type="hidden" name="location"
              value="{{ template_data.location }}">
        <input type="hidden" name="projects"
              value="{{ template_data.projects }}">

        <button type="submit" class="btn btn-dark">
          Save This Search
        </button>

        <a href="{% url 'accounts.saved_searches' %}"
          class="btn btn-outline-dark">
          My Saved Searches
        </a>
      </form>
    </div>

    {% for candidate in template_data.candidates %}

      <div class="card shadow-sm p-3 mb-3">

        <h5>{{ candidate.user.username }}</h5>

        {% if candidate.show_skills %}
        <p>
          <strong>Skills:</strong>
          {{ candidate.skills }}
        </p>
        {% endif %}

        <p>
          <strong>Location:</strong>
          {{ candidate.location }}
        </p>

        <p>
          <strong>Projects:</strong>
          {{ candidate.projects }}
        </p>

        <a
          class="btn btn-outline-dark"
          href="{% url 'accounts.profile_view' user_id=candidate.user.id %}"
        >
          View Profile
        </a>

        <a
          class="btn btn-outline-dark"
          href="{% url 'accounts.email_candidate' user_id=candidate.user.id %}"
        >
          Email
        </a>

      </div>

    {% empty %}

      <p>No candidates found.</p>

    {% endfor %}

  </div>
</div>
{% endblock %}